.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .toolbar {
    position: absolute;
    background-color: bisque;
    top: 30px;
    left: 0;
    width: 100px;
    z-index: 20;
  }

  .paintingArea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}